@import "variable.styl"

body, html
  line-height 1
  width 100%
  height 100%
  color $color-text
  background $color-fff
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent

// 自定义表单 - 按钮
.custom-form-btn
  // position absolute
  width 100%
  left 0
  bottom 0
  padding 30px 30px 44px
