// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)

$color-theme = #ffcd32
$color-theme-bg = #eff0f0

$color-sub-theme = #f95a29
$color-error-msg = #ff0000
$color-border = #e5e5e5

$color-bold = #2b2b2b
$color-fff = #fff
$color-ccc = #ccc
$color-eee = #eee
$color-666 = #666
$color-999 = #999
$color-text = #333
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 页面
$color-online = #fea356
$color-offline = #f26666
$color-foot = #dcdcdc
$color-risk = #ff7f57
